<div class="container">
  <h1>Tu orden realizada</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Item</th>
          <th scope="col">Categoría</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Subtotal</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
            <% @order.line_items.each do |line_item| %>
            <td><%= line_item.product.name %></td>
            <td><%= line_item.amount %></td>
            <td><%= line_item.total_price %></td>
            <% end %>
          <td></td>
        </tr>
        <tr>
          <th scope="row"> </th>
          <td colspan="2">Total pagado</td>
          <td><%= @order.total_price %></td>
          
        </tr>
          <!-- <%= link_to categories_path do %>
          <div class="btn btn-info">Seguir comprando</div>
          <% end %>-->

      </tbody>
    </table>

  <%= link_to categories_path do %>
    <div class="btn orden">
      Seguir comprando
    </div>
  <% end %>

</div>
